@model IEnumerable<Reservation>
@{
}



<div>
    <div class="row">
        <h1 class="display-4">Reservations</h1>
        <button class="addReservation btn btn-outline-secondary" onclick="location.href='@Url.Action("AddReservation","Reservation")'" title="Add">&#43;</button>
    </div>
    <div class="reservation-list">
        @if (Model == null)
        {
            <h1>No movies provided</h1>
        }
        else
        {
            List<Reservation> ReservationList = Model.OrderBy(reservation => reservation.DateTime).ToList();
            foreach (var reservation in ReservationList)
            {
                <partial name="_ReservationPartial.cshtml" for="@reservation" />
            }

        }
    </div>
</div>