@model IEnumerable<Reservation>
@{
}



<div>
    <h1 class="display-4">Reservations</h1>
    <button class="addReservation" onclick="location.href='@Url.Action("AddReservation","Reservation")'">+</button>
    <div>
        @if (Model == null)
        {
            <h1>No movies provided</h1>
        }
        else
        {
            List<Reservation> ReservationList = Model.OrderBy(reservation => reservation.DateTime).ToList();
            foreach (var reservation in ReservationList)
            {
                <partial name="_ReservationPartial.cshtml" for="@reservation" />
            }

        }
    </div>
</div>