@model Reservation
@{
}

<div>
    <h1 class="display-4">Reservation Form</h1>
    <p>Please fill out the following fields:</p>
    <form asp-controller="Reservation" asp-action="AddReservation" method="post">
        @if (Model == null)
        {
            <input value="-1" asp-for="ID" type="hidden" />
        }
        else
        {
            <input asp-for="ID" type="hidden" />
        }
        <div class="form-group">
            <label for="DateTime">Date and Time:</label>
            <input asp-for="DateTime" type="datetime-local" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Name">Party Name:</label>
            <input asp-for="Name" placeholder="Party Name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Size">Party Size:</label>
            <input asp-for="Size" placeholder="Party Size" class="form-control" />
        </div>
        <div class="form-group form-check">
            <input asp-for="InSmokingSection" class="form-check-input"/>
            <label for="InSmokingSection">Seated in Smoking Section?</label>
        </div>
        <div class="form-group">
            <label for="SpecialInstructions">Special Instructions:</label>
            <textarea asp-for="SpecialInstructions" placeholder="Special Instructions" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="ContactNumber">Contact Number:</label>
            <input asp-for="ContactNumber" placeholder="Contact Number" class="form-control" />
        </div>
        <div class="form-group form-check">
            <input asp-for="CanText" class="form-check-input"/>
            <label for="CanText">Okay to Text Contact Number?</label>
        </div>
        <button type="submit" class="btn btn-outline-secondary submit-btn">Submit</button>
    </form>
    <button class="btn btn-outline-secondary" onclick="location.href='@Url.Action("Index","Reservation")'">Go Back</button>
</div>