
.flex {
    display:flex;
}

.model-short-display {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    
}


.model-full-display {
    overflow:hidden;
    max-height:75em;
    height:100%;
    transition: max-height 0.4s ease;
}

.hidden > .model-full-display {
    max-height: 0;
}