@{
    ViewData["Title"] = "Home Page";
}

<div >
    <h1 class="display-4">Pizza Bell</h1>
    <p><em>Home page greeting users and explaining the nature/theme of your restaurant. 2 images</em></p>
</div>
