@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Pizza Bell</h1>
    <p><em>Home of the bell shaped pizza!</em></p>

    <p>
        Pizza Bell is one of the finest Pizzarias, where all of the pizza is freshly made by real Italians.
        In 2016, Pizza Bell was named the best pizza in America*. At our pizzaria, you can expect to wait
        for at least 30 minutes to be seated, to give you the impression that we are busy and popular. To avoid
        this wait, you can create a <a asp-controller="Reservation" asp-action="AddReservation">new reservation here!</a>
    </p>
    <img src="~/img/Pizzeria.jpg" title="Pizzaria" alt="Pizzaria" />
    <p>
        It all started when one of our chefs, Giovanni, accidentally tossed the pizza dough in the shape of
        a bell. Our customers ended up loving it, so we changed our name to Pizza Bell and everything has
        been perfect since then**.
    </p>
    <img src="~/img/pizza.png" title="Bell Shaped Pizza" alt="Bell Shaped Pizza" />
    <p>
        
    </p>
    <p><small>* Some random guy said it.</small> <small>** Not really.</small></p>
</div>
